*{
    margin: 0%;
    
}
nav{
    background-color:#202020;
    display: flex;
}
#navbar{
    height: 55px;
}
#leftsidemenu img{
    margin-top: .5rem;
    height: 4vh;
}

#yt-logo img{
    /* margin: 20px; */
    margin-top: .7rem;
    height: 3vh;
}
#yt-logo{display: flex;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    margin-left: 13px;
    width: 98px;
}
#yt-logo p{
    padding-left: .2rem;
    margin-top: .5rem;
    
}
#yt-logo a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.signIn img{
    position: absolute;
    right: 20px;
    top: 5px;
    /* left: 15px; */
    /* width: 165px;
    height: 5rem; */
    height: 45px;
    /* width: 50px; */
}
#search input{
    color: white;
    padding: 1.2rem;
    margin-top: .31rem;
    height: 1.2rem;
    width: 35em;
    margin-left: 35rem;
    background-color: #141414;
    border: 1px solid #202020;
}
#SearchImage img {
    height: 2.3rem;
    width: 3.8rem;
    margin-top: .45rem;
}
#MIC img{
    height: 2.5rem;
    width: 2.5rem;
    margin-top: .451rem;
    margin-left: .8rem;
}
#menu img{
    height: 2.5rem;
    width: 2.5rem;
    margin-top: .451rem;
    margin-left: 23.5rem;
}
#more img{
    height: 2.5rem;
    width: 2.5rem;
    margin-top: .451rem;
    margin-left: .4rem;
}



