*{
    margin: 0%;
    background-color:#202020;
    
    
}
nav{
    
    display: flex;
}
#navbar{
    background-color:#202020;
    height: 55px;
}
#leftsidemenu img{
    margin-top: .5rem;
    height: 4vh;
}

#yt-logo img{
    /* margin: 20px; */
    margin-top: .7rem;
    height: 3vh;
}
#yt-logo{display: flex;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    margin-left: 13px;
    width: 98px;
}
#yt-logo p{
    padding-left: .2rem;
    margin-top: .5rem;
    
}
#yt-logo a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.signIn img{
    position: absolute;
    right: 1px;
    top: 5px;
    /* left: 15px; */
    /* width: 165px;
    height: 5rem; */
    height: 45px;
    /* width: 50px; */
}
#search{
    /* width: 50rem1; */display: contents;
}
#search input{
    /* display: ; */
    color: white;
    padding: 1.2rem;
    margin-top: .31rem;
    height: 1.2rem;
    width: 35em;
    margin-left: 35rem;
    background-color: #141414;
    border: 1px solid #202020;
}
#SearchImage img {
    height: 2.3rem;
    width: 3.8rem;
    margin-top: .45rem;
}
#MIC img{
    height: 2.5rem;
    width: 2.5rem;
    margin-top: .451rem;
    margin-left: .8rem;
}
#menu img{
    height: 2.5rem;
    width: 2.5rem;
    margin-top: .451rem;
    margin-left: 23.5rem;
}
#more img{
    height: 2.5rem;
    width: 2.5rem;
    margin-top: .451rem;
    margin-left: .4rem;
}
#sideNav{
    height: 60vh;
    background-color: #202020;
    display: inline-block;
    color: aliceblue;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    width: 10%;
}
#firstSection img{
    width: 3.8vh;
    margin-left: 5px;
    margin-top:1.2rem ;
}
#secondSection img{
    width: 3.8vh;
    /* height: 2.2vh; */
    margin-left: 8px;
    margin-top:1.2rem ;
}
#home{
    display: flex;
    
}
#side{
    margin-top: 50px;
    width: 95%;
    
    /* text-align: center; */
    margin: 2%;

}
.home{
    margin-top:1.9rem;
    font-size: larger;
    margin-left:8px ;
}
#explore{
    display: flex;
}
#lib{
    display: flex;
}
#sub{
    display: flex;
}

  /* display: flex; */

#watch{
    display: flex;
}
#like{
    display: flex;
}
.sec{
    
    margin-top:1.9rem;
    font-size: larger;
    margin-left:8px ;
}
#third{
    /* width: 10rem; */
    margin-top: 50px;
    text-align: center;
}
#navbar2{
    height: 5.9vh;
    color: white;
    background-color: #202020;
    position: absolute;
    display: inline-block;
}
#navbar2 ul  {
    display: flex;
    margin-left: -1.9rem;
}
ul li{
    /* background-color: aqua; */
    margin: 15px;
    list-style: none;

}
ul li a{
    cursor: pointer;
    background-color: rgb(61, 61, 61);

    border: 1px solid grey;
    border-radius: 25px;
    /* margin-top: 15px; */
    padding: 1vh;
}
#main{
    background-color: #000000;
    position: absolute;
    top: 8rem;
    /* margin: 1rem; */
    left: 16.5rem;
    display: flex;
    flex-wrap: wrap;
    /* align-content: space-between; */
}
#container{
    margin: 1rem;
    width: 23.3rem;
    /* border: 1px solid black; */
}
#container1{width: 23.3rem;
    margin: 1rem;
    /* border: 1px solid black; */
}
#container2{width: 23.3rem;
    margin: 1rem;
    /* border: 1px solid black; */
}
#container3{width: 23.3rem;
    margin: 1rem;

    /* border: 1px solid black; */
}
.time{
    color: rgb(112, 112, 112);
}
.mains{
    color: azure;

}








